
#editor-container {
    outline: none;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
    border: 1px solid #e1e0e0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: block;
    padding: 10px;
    font: 12px Helvetica, arial, sans-serif;
    cursor: text;
}

#editor-container p {
  white-space: pre;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  white-space: pre-wrap;
}
